In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime, os

In [2]:
athletes_df = pd.read_csv('Olympics Classification/data/athletes.csv')
events_df = pd.read_csv('Olympics Classification/data/events.csv')
medallists_df = pd.read_csv('Olympics Classification/data/medallists.csv')
medals_total_df = pd.read_csv('Olympics Classification/data/medals_total.csv')
medals_df = pd.read_csv('Olympics Classification/data/medals.csv')

In [3]:
print(athletes_df.head())
print(events_df.head())
print(medallists_df.head())
print(medals_total_df.head())
print(medals_df.head())

      code  current               name     name_short            name_tv  \
0  1532872     True   ALEKSANYAN Artur   ALEKSANYAN A   Artur ALEKSANYAN
1  1532873     True     AMOYAN Malkhas       AMOYAN M     Malkhas AMOYAN
2  1532874     True    GALSTYAN Slavik     GALSTYAN S    Slavik GALSTYAN
3  1532944     True  HARUTYUNYAN Arsen  HARUTYUNYAN A  Arsen HARUTYUNYAN
4  1532945     True    TEVANYAN Vazgen     TEVANYAN V    Vazgen TEVANYAN

  gender function country_code  country country_long  ...  \
0   Male  Athlete          ARM  Armenia      Armenia  ...
1   Male  Athlete          ARM  Armenia      Armenia  ...
2   Male  Athlete          ARM  Armenia      Armenia  ...
3   Male  Athlete          ARM  Armenia      Armenia  ...
4   Male  Athlete          ARM  Armenia      Armenia  ...

                                              family  \
0                          Father, Gevorg Aleksanyan
1                                                NaN
2                                                NaN
3  Wife, Diana (married October 2022). Daughter, ...
4                 Wife, Sona (married November 2023)

                         lang  \
0  Armenian, English, Russian
1                    Armenian
2                    Armenian
3                    Armenian
4           Armenian, Russian

                                               coach  \
0                    Gevorg Aleksanyan (ARM), father
1                                                NaN
2  Personal: Martin Alekhanyan (ARM).<br>National...
3                      National: Habetnak Kurghinyan
4                National: Habetnak Kurghinyan (ARM)

                                              reason  \
0  He followed his father and his uncle into the ...
1                                                NaN
2                                                NaN
3  While doing karate he noticed wrestlers traini...
4  “My family did not like wrestling very much. A...

                                                hero  \
0  Footballer Zinedine Zidane (FRA), World Cup wi...
1                                                NaN
2                                                NaN
3  Wrestler Armen Nazaryan (ARM, BUL), two-time O...
4                                                NaN

                       influence  \
0  His father, Gevorg Aleksanyan
1                            NaN
2                            NaN
3                            NaN
4                            NaN

                                          philosophy  \
0  "Wrestling is my life." (mediamax.am. 18 May 2...
1  "To become a good athlete, you first have to b...
2                                                NaN
3  “Nothing is impossible, set goals in front of ...
4                                                NaN

                                  sporting_relatives ritual other_sports
0                                                NaN    NaN          NaN
1  Uncle, Roman Amoyan (wrestling), 2008 Olympic ...    NaN          NaN
2                                                NaN    NaN          NaN
3                                                NaN    NaN          NaN
4                                                NaN    NaN          NaN

[5 rows x 36 columns]
                event      tag    sport sport_code  \
0    Men's Individual  archery  Archery        ARC
1  Women's Individual  archery  Archery        ARC
2          Men's Team  archery  Archery        ARC
3        Women's Team  archery  Archery        ARC
4          Mixed Team  archery  Archery        ARC

                                           sport_url
0  https://olympics.com/en/paris-2024/sports/archery
1  https://olympics.com/en/paris-2024/sports/archery
2  https://olympics.com/en/paris-2024/sports/archery
3  https://olympics.com/en/paris-2024/sports/archery
4  https://olympics.com/en/paris-2024/sports/archery
   medal_date    medal_type  medal_code             name  gender country_code  \
0  2024-07-27    Gold Medal         1.0  EVENEPOEL Remco    Male          BEL
1  2024-07-27  Silver Medal         2.0    GANNA Filippo    Male          ITA
2  2024-07-27  Bronze Medal         3.0    van AERT Wout    Male          BEL
3  2024-07-27    Gold Medal         1.0      BROWN Grace  Female          AUS
4  2024-07-27  Silver Medal         2.0   HENDERSON Anna  Female          GBR

         country   country_long nationality_code    nationality  ... team  \
0        Belgium        Belgium              BEL        Belgium  ...  NaN
1          Italy          Italy              ITA          Italy  ...  NaN
2        Belgium        Belgium              BEL        Belgium  ...  NaN
3      Australia      Australia              AUS      Australia  ...  NaN
4  Great Britain  Great Britain              GBR  Great Britain  ...  NaN

  team_gender    discipline                          event event_type  \
0         NaN  Cycling Road    Men's Individual Time Trial        ATH
1         NaN  Cycling Road    Men's Individual Time Trial        ATH
2         NaN  Cycling Road    Men's Individual Time Trial        ATH
3         NaN  Cycling Road  Women's Individual Time Trial        ATH
4         NaN  Cycling Road  Women's Individual Time Trial        ATH

                                           url_event  birth_date code_athlete  \
0  /en/paris-2024/results/cycling-road/men-s-indi...  2000-01-25      1903136
1  /en/paris-2024/results/cycling-road/men-s-indi...  1996-07-25      1923520
2  /en/paris-2024/results/cycling-road/men-s-indi...  1994-09-15      1903147
3  /en/paris-2024/results/cycling-road/women-s-in...  1992-07-07      1940173
4  /en/paris-2024/results/cycling-road/women-s-in...  1998-11-14      1912525

   code_team is_medallist
0        NaN         True
1        NaN         True
2        NaN         True
3        NaN         True
4        NaN         True

[5 rows x 21 columns]
  country_code        country                country_long  Gold Medal  \
0          USA  United States    United States of America          40
1          CHN          China  People's Republic of China          40
2          JPN          Japan                       Japan          20
3          AUS      Australia                   Australia          18
4          FRA         France                      France          16

   Silver Medal  Bronze Medal  Total
0            44            42    126
1            27            24     91
2            12            13     45
3            19            16     53
4            26            22     64
     medal_type  medal_code  medal_date             name gender    discipline  \
0    Gold Medal         1.0  2024-07-27  Remco EVENEPOEL      M  Cycling Road
1  Silver Medal         2.0  2024-07-27    Filippo GANNA      M  Cycling Road
2  Bronze Medal         3.0  2024-07-27    Wout van AERT      M  Cycling Road
3    Gold Medal         1.0  2024-07-27      Grace BROWN      W  Cycling Road
4  Silver Medal         2.0  2024-07-27   Anna HENDERSON      W  Cycling Road

                           event event_type  \
0    Men's Individual Time Trial        ATH
1    Men's Individual Time Trial        ATH
2    Men's Individual Time Trial        ATH
3  Women's Individual Time Trial        ATH
4  Women's Individual Time Trial        ATH

                                           url_event     code country_code  \
0  /en/paris-2024/results/cycling-road/men-s-indi...  1903136          BEL
1  /en/paris-2024/results/cycling-road/men-s-indi...  1923520          ITA
2  /en/paris-2024/results/cycling-road/men-s-indi...  1903147          BEL
3  /en/paris-2024/results/cycling-road/women-s-in...  1940173          AUS
4  /en/paris-2024/results/cycling-road/women-s-in...  1912525          GBR

         country   country_long
0        Belgium        Belgium
1          Italy          Italy
2        Belgium        Belgium
3      Australia      Australia
4  Great Britain  Great Britain

In [4]:
print(athletes_df['code'].dtype)
print(medals_df['code'].dtype)

int64
object

In [5]:
# converting data types
athletes_df['code'] = athletes_df['code'].astype(str)
medallists_df['code_athlete'] = medallists_df['code_athlete'].astype(str)
medals_df['code'] = medals_df['code'].astype(str)

In [6]:
# merging athletes with medallists on athlete code
final_df = pd.merge(
    athletes_df,
    medallists_df[['code_athlete', 'medal_type', 'medal_code', 'medal_date']],
    left_on='code',
    right_on='code_athlete',
    how='left'  # Left join for all athletes
)

In [7]:
# renaming cols
final_clean_df = final_df[[
    'code',           # Athlete ID
    'name',           # Name of the athlete
    'gender',         # Gender
    'country_code',   # Country code
    'country',        # Country
    'nationality_code',  # Nationality code
    'nationality',    # Nationality
    'disciplines',    # Disciplines
    'events',         # Events
    'birth_date',     # Birth date
    'birth_country',  # Birth country
    'hobbies',        # Hobbies
    'occupation',     # Occupation
    'lang',           # Languages spoken
    'reason',         # Reason for participating
    'hero',           # Hero
    'medal_type',     # Medal type (from medallists_df)
    'medal_code',     # Medal code (from medallists_df)
    'medal_date'      # Medal date (from medallists_df)
]]

#
final_clean_df = final_clean_df.rename(columns={
    'code': 'athlete_code'
})

# 'has_medal' column: True if the athlete has any medal, False otherwise
final_clean_df['has_medal'] = final_clean_df['medal_type'].notna()

In [8]:
# replacing NaN in medal-related columns w/ 'None'
final_clean_df['medal_type'] = final_clean_df['medal_type'].fillna('None')
final_clean_df['medal_code'] = final_clean_df['medal_code'].fillna('None')
final_clean_df['medal_date'] = final_clean_df['medal_date'].fillna('None')

#saving final to csv
final_clean_df.to_csv('Olympics Classification/data/final_athletes_data_with_medallists.csv', index=False)

In [9]:
print(final_clean_df.head())
print(final_clean_df.columns)
print(final_clean_df.shape)

  athlete_code               name gender country_code  country  \
0      1532872   ALEKSANYAN Artur   Male          ARM  Armenia
1      1532873     AMOYAN Malkhas   Male          ARM  Armenia
2      1532874    GALSTYAN Slavik   Male          ARM  Armenia
3      1532944  HARUTYUNYAN Arsen   Male          ARM  Armenia
4      1532945    TEVANYAN Vazgen   Male          ARM  Armenia

  nationality_code nationality    disciplines                      events  \
0              ARM     Armenia  ['Wrestling']  ["Men's Greco-Roman 97kg"]
1              ARM     Armenia  ['Wrestling']  ["Men's Greco-Roman 77kg"]
2              ARM     Armenia  ['Wrestling']  ["Men's Greco-Roman 67kg"]
3              ARM     Armenia  ['Wrestling']    ["Men's Freestyle 57kg"]
4              ARM     Armenia  ['Wrestling']    ["Men's Freestyle 65kg"]

   birth_date birth_country                        hobbies occupation  \
0  1991-10-21       Armenia  Playing and watching football    Athlete
1  1999-01-22       Armenia                            NaN        NaN
2  1996-12-21           NaN                            NaN        NaN
3  1999-11-22       Armenia                            NaN    Athlete
4  1999-10-27       Armenia                            NaN    Athlete

                         lang  \
0  Armenian, English, Russian
1                    Armenian
2                    Armenian
3                    Armenian
4           Armenian, Russian

                                              reason  \
0  He followed his father and his uncle into the ...
1                                                NaN
2                                                NaN
3  While doing karate he noticed wrestlers traini...
4  “My family did not like wrestling very much. A...

                                                hero    medal_type medal_code  \
0  Footballer Zinedine Zidane (FRA), World Cup wi...  Silver Medal        2.0
1                                                NaN  Bronze Medal        3.0
2                                                NaN          None       None
3  Wrestler Armen Nazaryan (ARM, BUL), two-time O...          None       None
4                                                NaN          None       None

   medal_date  has_medal
0  2024-08-07       True
1  2024-08-07       True
2        None      False
3        None      False
4        None      False
Index(['athlete_code', 'name', 'gender', 'country_code', 'country',
       'nationality_code', 'nationality', 'disciplines', 'events',
       'birth_date', 'birth_country', 'hobbies', 'occupation', 'lang',
       'reason', 'hero', 'medal_type', 'medal_code', 'medal_date',
       'has_medal'],
      dtype='object')
(11374, 20)

In [10]:
total_athletes = final_clean_df['athlete_code'].nunique()
total_medalists = final_clean_df[final_clean_df['has_medal']].shape[0]

print(f"Total athletes: {total_athletes}")
print(f"Total athletes with medals: {total_medalists}")

Total athletes: 11113
Total athletes with medals: 2315